.InfoPdfContainer {
  height: 90%;
}
.PdfContainer {
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .PdfDocumentContainer {
    height: 90%;
  }
  .PdfControls {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 50px;
      text-align: center;
    }
  }
}
