.PlayingDocument {
  cursor: pointer;
  position: absolute;
  height: 40%;
  background: white;
  top: 0px;
  right: 0px;
  transition: height var(--transition);
  img {
    width: auto;
    height: 100%;
    border: 4px solid white;
  }
}

.PlayingDocument:hover {
  height: 60%;
}
