.pageContent {
  padding-top: 15px;

  h6 {
    color: var(--primary);
  }
  h6::before {
    content: '– ';
  }
  p {
    font-size: 1.3rem;
  }
  a {
    color: white;
    border-bottom: 1px solid var(--primary);
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.titleContainer {
  border-bottom: 1px solid var(--border-color);
}

.logoLink {
  text-decoration: none;
  border-bottom: none !important;
  background: white;
  height: 100%;
  display: flex;
  filter: grayscale(1);
  transition: filter var(--transition);
}

.logoLink:hover {
  filter: grayscale(0);
}
