.autocomplete {
  width: 100%;
  position: relative;


  input {
    width: 100%;
    background-color: var(--secondary);
    font-size: 25px;
    color: white;
  }

  .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    z-index: 99;
    .suggestion {
      &.highlighted {
        background: var(--primary);
      }
      cursor: pointer;
      padding: 5px;
    }
  }
}