// Override HERE
// https://getbootstrap.com/docs/4.0/getting-started/theming/
$theme-colors: (
  "primary": #00b37f,
  "secondary": #222322,
);

$body-bg: map-get($theme-colors, "secondary");
$body-color: white;

$font-family-sans-serif: "Arimo", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$border-radius: 0;

$navbar-dark-color: white;
$navbar-dark-hover-color: map-get($theme-colors, "primary");
$navbar-dark-active-color: map-get($theme-colors, "primary");
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;
