.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

h1 {
  font-size: 4.5rem;
}

h4 {
  font-size: 2.25rem;
  margin: 20px 0 20px 100px;
}

#startLink:hover {
  text-decoration: none;
}

#startLink:hover #start {
  background-color: white;
  color: var(--primary);
}

#start {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}

#start p {
  max-width: calc(135px / 2);
}

.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
  background-color: var(--secondary);
  transition: opacity 2s ease-in-out;
}

.mapContainer.hide {
  opacity: 0;
}

.Player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
  video {
    object-fit: cover;
  }
}

.playerControls {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  display: flex;
}

.playerControls.show {
  opacity: 1;
}
