.title {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
}

.chapters {
  overflow-x: auto;
  overflow-y: hidden;
}

.chapter {
  overflow-y: auto;
  flex: 0 0 40%;
  max-width: 600px;
  border-right: 2px solid var(--secondary);
  border-radius: 10px;
}

.chapter:first-of-type {
  border-left: 2px solid var(--secondary);
}

.timelineContainer {
  background: #2f322f;
  margin: 10px 0;
}

@media (min-width: 576px) {
  .chapters {
    padding-left: calc(50vw - (var(--max-width-sm) / 2));
  }
}

@media (min-width: 768px) {
  .chapters {
    padding-left: calc(50vw - (var(--max-width-md) / 2));
  }
}

@media (min-width: 992px) {
  .chapters {
    padding-left: calc(50vw - (var(--max-width-lg) / 2));
  }
}

@media (min-width: 1200px) {
  .chapters {
    padding-left: calc(50vw - (var(--max-width-xl) / 2));
  }
}

@media (min-width: 1400px) {
  .chapters {
    padding-left: calc(50vw - (var(--max-width-xxl) / 2));
  }
}

.Period {
  &.SelectedPeriod {
    color: white;
    .PeriodLine {
      background: white;
    }
  }
  color: rgba(255, 255, 255, 0.4);
  padding-top: 5px;

  .PeriodLine {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
  }

  .PeriodVideoContainer {
    position: relative;
  }
  .PeriodVideoBox {
    color: black;
    padding: 10px;
    z-index: 9;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 400px;
    background: white;
  }
}
