.title {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
}

.chapters {
  // display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  // flex-grow: 1;
}

.chapter {
  overflow-y: auto;
  flex: 0 0 40%;
}
