.title {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
}

.chapters {
  overflow-x: auto;
  overflow-y: hidden;
}

.chapter {
  overflow-y: auto;
  flex: 0 0 40%;
  max-width: 600px;
  border-right: 2px solid var(--secondary);
  border-radius: 10px;
}

.chapter:first-of-type {
  border-left: 2px solid var(--secondary);
}
