// 3X + 6X = 100
// X = 100 / (3 + 6)

.PlayerPage {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.PlayerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.Player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  // height: 100%;
  overflow: hidden;
  video {
    object-fit: cover;
  }
}

.Controls {
  // position: relative;
  // margin-bottom: 25p
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.SeekContent {
  flex-grow: 0;
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}
.SeekContentSmall {
  flex-basis: (100% / 9);
}
.SeekContentBig {
  flex-basis: (100% / 9) * 2;
}

.PlayingDocument {
  cursor: pointer;
  position: absolute;
  width: 20%;
  border: 2px solid white;
  top: 70px;
  right: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}

.SeekLineContainer {
  width: 100%;
  .SeekLine {
    cursor: pointer;
    width: 100%;
    height: 10px;
    background-color: white;
    .SeekProgress {
      height: 100%;
      background-color: var(--primary);
    }
  }
}
