.Player {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  width: auto;
  margin: auto;
  background: black;
  video {
    max-width: 100%;
    outline: none;
    max-height: calc(80vh - 3rem);
  }
}

.Controls {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}

.Controls > div {
  margin-right: 10px;
}

.Controls > div:last-of-type {
  margin-right: 0px;
}

.PlayPause {
  cursor: pointer;
}

.ProggressLine {
  position: relative;
  height: 8px;
  width: 100%;
  background: white;
  cursor: pointer;
  .ProggressPlayed {
    height: 100%;
    background: var(--primary);
    transition: width 0.3s linear;
  }
}

.fullScreen {
  cursor: pointer;
}

.Volume {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    margin-left: 0px;
    opacity: 0;
    width: 00px;
    height: 5px;
    transition: width var(--transition), opacity var(--transition);
  }
}

.Volume:hover {
  input {
    margin-left: 10px;
    opacity: 1;
    width: 100px;
  }
}
