.ZoomAndPanMedia {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .ZoomAndPanMediaContainer {
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 1rem;
    flex-basis: 0;
  }

  .ZoomAndPanMediaContainer .Zoomable {
    cursor: grab;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
    vertical-align: middle;
    user-select: none;
  }
  .ZoomAndPanMediaContainer .Zoomable:active {
    cursor: grabbing;
  }
  .btn .material-icons {
    line-height: unset;
  }
  .ZoomAndPanMediaControls {
    position: absolute;
    right: 0;

  }
}