.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-template-rows: repeat(auto-fill, 68px);
  grid-gap: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

.itemBlock {
  background-color: var(--secondary);
  position: relative;
  overflow: visible;
}

.smallImage {
  object-fit: contain;
  width: 68px;
  height: 68px;
  filter: brightness(0.75);
  transition: filter var(--transition);
}

.smallImage:hover {
  filter: brightness(1);
}

.itemBlock:hover {
  z-index: 1;
}
