.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-template-rows: repeat(auto-fill, 68px);
  grid-gap: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

.itemBlockContainer {
  transform: scale(1);
  z-index: 0;
  transition: transform var(--transition);
}

.itemBlockContainer:hover {
  // transform: scale(3);
  // transform-origin: center center;
  // z-index: 1;
}

.itemBlock {
  background-color: var(--secondary);
  img {
    object-fit: contain;
    width: 68px;
    height: 68px;

    filter: brightness(0.75);
    transition: filter var(--transition);
  }

  img:hover {
    filter: brightness(1);
  }
}
